.quote {
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 1px #abc;
}

.title {
    font-family: 'Sniglet', cursive;
}

.description {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}